; Flake8 configuration file
; Options - https://flake8.pycqa.org/en/latest/user/options.html

[flake8]
; Print the total number of errors.
count = True

; Provide a comma-separated list of glob patterns to exclude from checks.
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .venv

; Toggle whether pycodestyle should enforce matching the indentation of the opening bracket’s line.
hang-closing = True

; Specify a list of codes to ignore.

; Error codes

; E/W  - PEP8 errors/warnings (pycodestyle)
; F    - linting errors (pyflakes)
; C    - McCabe complexity error (mccabe)

; E133 - closing bracket is missing indentation (conflicts with black)
; E203 - whitespace before ‘:’ (conflicts with black)
; W503 - line break before binary operator
; F401 - module imported but unused
; F403 - ‘from module import *’ used unable to detect undefined names
ignore =
    E133,
    W503

extend-ignore = W503

; Set the maximum length that any line (with some exceptions) may be.
max-line-length = 100

; Set the maximum length that a comment or docstring line may be.
max-doc-length = 100

; Set the number of spaces used for indentation.
indent-size = 4

; Specify the list of error codes you wish Flake8 to report.
select =
    E,
    W,
    F,
    C

; Count the number of occurrences of each error/warning code and print a report.
statistics = True

; Specify the number of subprocesses that Flake8 will use to run in parallel.
jobs = auto

; Enable PyFlakes syntax checking of doctests in docstrings.
doctests = True

; Set the maximum allowed McCabe complexity value for a block of code.
max-complexity = 15
