[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
fabric2 = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
autoflake = "*"
pydocstringformatter = "*"
icecream = "*"
bandit = "*"
isort = "*"
radon = "*"
vulture = "*"
pyroma = "*"
pygount = "*"
pympler = "*"
snakeviz = "*"

[requires]
python_version = "3.12"

[scripts]
pytest = "pytest --cov=code_challenges --cov-report=xml" # run tests
coverage = "coverage report" # show coverage
